.loginPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.logo {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #fadb14;
    height: 100vh;
    padding: 10px;
    margin: auto;
}


.loginHeader {
    margin:5vh;
    font-size: 8vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: 100vh;
}

.loginButton {
    margin-top: 2vh;
    background-color: #fadb14;
}

.loginButton:hover {
    background-color: darkgoldenrod;
}

.registerButton {
    margin-top: 2vh;
    background-color: lightblue;
}

.registerButton:hover {
    background-color: darkgreen;
}

.routeBackIcon {
    font-size: 8vh;
    cursor: pointer;
    position: absolute;
    top: 1.5vh;
    left: 1.5vh;
    color: black;
}

.routeBackIcon:hover {
    color: lightgray;
}